.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main {
  padding: 40px;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.panels {
  width: 100%;
  display: flex;
}
.panel {
  flex: 1;

  text-align: left;
}

.panel textarea {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
  font-weight: 500;
  line-height: 24px;
  width: 100%;
  height: 500px;
  background-color: #37393d;
  color: rgb(192, 192, 192);
  font-size: 14px;
  padding: 5px;
  white-space: pre;
}
.panel-right textarea {
  background-color: rgb(83, 85, 88);
}

.App-link {
  color: #61dafb;
}
pre {
  display: block;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
  text-align: left;
  color: white;
  margin: 0;
  white-space: pre;
  -moz-tab-size: 4; /* Firefox 4+ */
  -o-tab-size: 4; /* Opera 11.5 & 12.1 only */
  tab-size: 4;
}
label {
  color: grey;
  text-align: left;
  margin-bottom: 10px;
  display: inline-block;
}
label + button {
  display: inline-block;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
